# Demo service file to be used with systemctl and Podman
#
# - Install Podman https://podman.io/.
# - Optionally build your own demo OpenLDAP image.
# - Modify this service file:
#   - Change image and container names.
#   - Change description.
# - Copy this file to /etc/systemd/system/.
# - Start demo OpenLDAP:
#   - systemctl start openldap-demo
# - Stop demo OpenLDAP:
#   - systemctl stop openldap-demo
# - Enable demo OpenLDAP to start automatically after boot:
#   - systemctl enable openldap-demo
# - Disable automatic start:
#   - systemctl disable openldap-demo
#
[Unit]
Description=My Demo OpenLDAP Podman Container

[Service]
ExecStartPre=-/usr/bin/podman rm -i -f openldap-demo
ExecStart=/usr/bin/podman run --rm --publish 0.0.0.0:389:389 --publish 0.0.0.0:636:636 --name openldap-demo  docker.io/kazhar/openldap-demo:latest
Restart=always
KillMode=control-group
Type=simple

[Install]
WantedBy=multi-user.target